@{
  ViewBag.Title = "Home Page";
}
@section Scripts {
  <script src="~/Scripts/angular.min.js"></script>
  <script src="~/Scripts/angular-route.min.js"></script>
  <script src="~/js/index.js"></script>
}

<div class="message-header">
  <h1>Message Board</h1>
  <p class="lead">Latest Messages...</p>
</div>

<div class="messages" ng-app="index-page">

  <div ng-view></div>
</div>