.message {
  background: none repeat scroll 0 0 #eaeaea;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: -20px;
  padding: 5px;
}
.message .title {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #aaaaaa;
}
.message .reply {
  border-top: 1px solid #aaaaaa;
  margin-left: 15px;
  margin-top: 5px;
}
.message .reply .created {
  font-size: 9px;
  margin-left: 10px;
  text-shadow: 2px 2px 3px #aaaaaa;
}
